@model POWStudio.Models.Game
@{
    ViewData["Title"] = "— "+@Model.Title;
}
<div class="position-relative overflow-hidden">
    <div class="content-card" style="background-image: url('@Model.BgImageUrl')">
        <div class="center-content-wrapper">

            <div>
                <img class="game-title-image" src="@Model.TittleImageUrl"
                     onerror="this.style.display='none'; this.nextElementSibling.style.display='block';" />
                <h1 style="display: none;font-size: 5em; font-weight: bold">@Model.Title</h1>
            </div>

            <div class="d-flex gap-3 mt-3">
                @if (!string.IsNullOrEmpty(Model.ItchioUrl))
                {
                    <a href="@Model.ItchioUrl" target="_blank" style="display: flex;  align-items: center; padding: 0 10px;">
                        <img src="https://static.itch.io/images/logo-white-new.svg"
                             alt="Itch.io" style="height: 30px; filter: brightness(0.8);"/>
                    </a>
                }

                @if (!string.IsNullOrEmpty(Model.EpicUrl))
                {
                    <a href="@Model.EpicUrl" target="_blank" style="display: flex;  align-items: center; padding: 0 10px;">
                        <img src="https://commons.wikimedia.org/wiki/Special:Redirect/file/Epic_Games_Store_logo_2023_horizontal_white.svg"
                             alt="Epic Games" style="height: 40px; filter: brightness(0.8);"/>
                    </a>
                }

                @if (!string.IsNullOrEmpty(Model.SteamUrl))
                {
                    <a href="@Model.SteamUrl" target="_blank" style="display: flex;  align-items: center; padding: 0 10px;">
                        <img src="https://store.cloudflare.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016"
                             alt="Steam" style="height: 40px;"/>
                    </a>
                }
                @if (!string.IsNullOrEmpty(Model.FabUrl))
                {
                    <a href="@Model.FabUrl" target="_blank" style="display: flex;  align-items: center; padding: 0 10px;">
                        <img src="https://static.fab.com/static/builds/web/dist/frontend/assets/images/common/logo/e1e12dc6142410b391ce48e416261ad7-v1.svg"/>
                    </a>
                }
            </div>
        </div>

    </div>
    
    <a class="scrollCaretButton" style="bottom: 10px; z-index: 3;" onclick="smoothScrollTo(document.getElementById('nextSection'))">
        <div class="caret-wrapper"><div class = "caret-icon"></div></div>
    </a>
</div>
<div id = "nextSection" class="centered-text-container">
    <h2>@Model.ShortDescription</h2>
    <p>@Model.DetailedDescription</p>
</div>

<div style=" display: flex; justify-content: space-around; align-items: center;">
    @if (@Model.bPublic) { <iframe width="1400" height="787.5" src=@Model.TrailerUrl allowfullscreen style="margin: auto; align-self: center"></iframe> }
    else {<h1 style="height: 787.5px; display: flex; justify-content: center; align-items: center; font-size: 3em; color: #666">Project will be public later</h1>}
</div>
